* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: hotpink;
  --text: rgb(233, 233, 233);
  --text-dark: rgb(120, 120, 120);
}

h1 {
  font-family: "Martian Mono", monospace;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 3.3rem;
  letter-spacing: -4px;
}

.subtitle {
  font-family: "Rock Salt", cursive;
  transform: rotate(-6deg);
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 64px;
}

h2 {
  margin: 16px 0;
  font-size: 1.2em;
  color: var(--text-dark);
}

body {
  background-color: rgb(19, 19, 19);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

main {
  width: 100%;
  max-width: 940px;
  margin: auto;
  padding: 24px;
}

table {
  width: 100%;
  margin-bottom: 48px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid rgb(43, 43, 43);
  padding: 16px;
  text-align: center;
}

th {
  background-color: rgb(38, 38, 38);
  color: var(--text-dark);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.code {
  color: var(--primary-color);
  font-family: "Martian Mono", monospace;
  font-size: 0.9rem;
}

.td-left {
  text-align: left;
  padding-left: 32px;
  width: 60%;
}

@media screen and (max-width: 600px) {
  h1 {
    margin-top: 32px;
    font-size: 2.1rem;
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }

  .td-left {
    padding-left: 16px;
    width: 60%;
  }

  th {
    font-size: 0.7rem;
  }

  h2 {
    font-size: 1.1em;
  }
}
